body{
    box-sizing: border-box;
    width: 700px;
    height: 600px;
    max-height:300px !important;
}

.gas-prices{
    display:flex;
    padding-left:10px;
    flex-direction: row;
    font-size:14px;
}

.city-name{
    width:100px;
}


.county-name{
    display:flex;
    flex:1 1 auto;
    text-align: left;
    justify-content: left;
}

.prices{
    display:flex;
    flex-direction: row;
    flex:1 1 auto;
}
.prices-detail{
    display:flex;
    flex-direction: row;
}
.tags{
    display:flex;
    flex-direction: row;
}
.tags div{
    border-right:1px solid grey;
}

.prices-detail div{
    border-right:1px solid grey;
}
.headRow div{
    border-bottom:2px solid blue;
    background-color: lightblue;
    font-weight:bold;
}

.allPrices{
    display: flex;
    flex-direction: column;
}

.deselect{
    margin-left:10px;
    padding:5px;
    font-size:16px !important;
    display:flex;
    flex-direction: row;

}
.deselect div{
    flex: 1 1 auto;
}
.deselect button{
    float: right;
}

.cityDeSelection{
    overflow-y: auto;
}
